@keyframes appear {
    0% {opacity: 1;}
    10% {opacity: 1;}
    20% {opacity: .1;}
    30% {opacity: .1;}
    40% {opacity: .1;}
    50% {opacity: .1;}
    60% {opacity: .1;}
    70% {opacity: .1;}
    80% {opacity: .1;}
    90% {opacity: .1;}
    100% {opacity: .1;}
}
section {
    padding: 6vw 0;
    .logo-carousel-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
            padding: 0 2vw;
            width: 300vw;
            height: auto;
            opacity: 0.1;
            @for $i from 1 to 7 {
                &:nth-child(#{$i}) {
                    @if $i > 1 {
                        animation: {
                            name: appear;
                            duration: 6s;
                            delay: $i - 1s;
                            iteration-count: infinite;
                            timing-function: ease-in;
                        }
                    } @else {
                        animation: {
                            name: appear;
                            duration: 6s;
                            delay: 0s;
                            iteration-count: infinite;
                            timing-function: ease-in;
                        }
                    }
                }
            }
            &:active {
                opacity: 1;
            }
        }
    }
    #quotes {
        padding: 6vw 0;
        text-align: center;
        > p {
            opacity: .1;
            @for $i from 1 to 7 {
                /* $seq: (0, 2, 4, 6, 8, 10); */
                &:nth-child(#{$i}) {
                    @if $i > 1 {
                        animation: {
                            name: appear;
                            duration: 6s;
                            delay: $i - 1s;
                            iteration-count: infinite;
                            timing-function: ease-in;
                        }
                    } @else {
                        animation: {
                            name: appear;
                            duration: 6s;
                            delay: 0s;
                            iteration-count: infinite;
                            timing-function: ease-in;
                        }
                    }
                }
            }
        }
<<<<<<< HEAD
    }
=======
    }    
>>>>>>> c4d1e686f104f73fed7befe06d2d2286fa125732
}
