@keyframes color {
    0% {opacity: .1;}
    10% {opacity: .1;}
    20% {opacity: .1;}
    30% {opacity: .1;}
    40% {opacity: .1;}
    50% {opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: .1;}
    80% {opacity: .1;}
    90% {opacity: .1;}
    100% {opacity: .1;}
}

@keyframes appear {
    0% {display: block;}
    10% {opacity: .1;}
    20% {opacity: .1;}
    30% {opacity: .1;}
    40% {opacity: .1;}
    50% {opacity: 1;}
    60% {opacity: 1;}
    70% {opacity: .1;}
    80% {opacity: .1;}
    90% {opacity: .1;}
    100% {display: block;}
}

.logo-carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        padding: 0 2vw;
        width: 300vw;
        height: auto;
        opacity: 0.1;
        @for $i from 1 to 7 {
            &:nth-child(#{$i}) {
                animation: {
                    name: color;
                    duration: 6s;
                    delay: $i + s;
                    iteration-count: infinite;
                }
            }
        }
        &:active {
            opacity: 1;
        }
    }
}

#quotes {
    text-align: center;
    > p {
        opacity: .1;
        @for $i from 1 to 7 {
            &:nth-child(#{$i}) {
                animation: {
                    name: appear;
                    duration: 6s;
                    delay: $i + s;
                    iteration-count: infinite;
                }
            }
        }
    }
}
