
$font: 'Roboto', sans-serif;

.section-grey {
  padding: 4vw;
  background-color: #ebe9e7;
}

.plus {
  display: none;
  text-align: center;
  @media screen and (max-width: 576px) {
    display: block;
  }
}

.pad {
  padding: 4vw;
}

.marg {
  margin: 9vw 0;
}

.text-center {
  text-align: center;
}

.text-green {
  color: #00a82d;
}

.roboto {
  font: {
    family: $font;
  }
}

.headline {
  letter-spacing: 0.1vw;
  line-height: 1.2;
  margin: 2vw 0;

  font: {
    size: 1.8vw;
    weight: 800;
  }

  @media screen and (max-width: 576px) {
    font: {
      size: 5.5vw;
    }
  }
}

.big {
  font:{
    size: 3vw;
  }

  @media screen and(max-width: 567px) {
    font: {
      size: 9vw;
    }
  }
}

.sub {
  line-height: 2;
  letter-spacing: 0.1vw;
  margin: 1vw 0;

  font: {
    size: 1.5vw;
    weight: 300;
  }

  @media screen and (max-width: 576px) {
    margin: 3vw 0;
    font: {
      size: 4.5vw;
    }
  }
}

.grey {
  color: grey;
}

.teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 567px) {
    flex-direction: column;
  }
}

.reverse {
flex-direction: row-reverse;
  }

.teaser-img {
  width: 20vw;
  height: auto;
}

.section-card {
  margin: 5vw auto;
  display: flex;
  width: 80%;
  align-items: center;

  @media screen and(max-width: 567px) {
    flex-direction: column;
  }

  img {
    width: 30vw;
    margin: 2vw;

    @media screen and (max-width: 576px) {
      width: 70vw;
    }
  }

  .block-card {
    display: flex;
    flex-direction: column;
  }

  .btn-card{
    text-decoration: none;
    font: {
      family: 'Roboto', sans-serif;
    }
  }
}

.btn-green {
    display: block;
    background-color: #00a82d;
    padding: 2vw 3vw;
    margin: 2vw auto;
    border-radius: 0.8vw;

    &:hover {
      cursor: pointer;
      background-color: darken(green, 5%);
    }

    a {
      color: white;
      text-decoration: none;
    }

    @media screen and (max-width: 567px) {
      display: inline-block;
      width: 100%;
      border-radius: 1.5vw;
    }

  }

.upper {
  text-transform: uppercase;
}

.fkt {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 2vw;

  @media screen and (max-width: 567px) {
    width: 100%;
  }
}

.img-fkt {
  width: 10vw;
  margin: 1vw auto;
}
