.mio {
  background-image: url(../img/greenbackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 50vw;
  margin: 0;
  padding: 7vw 3vw 3vw 7vw;
    h1{
      width: 40vw;
      line-height: 5vw;
      font-size: 4vw;
      font-weight: bolder;
      color: white;
    }
    p{
      width: 37vw;
      font-size: 1.7vw;
      font-weight: lighter;
      color: white;
      padding-top: 2vw;
      line-height: 3vw;
    }
    button{
      margin-top: 3.5vw;
      padding: 1.5vw 4vw 1.5vw 4vw;
      color: green;
      font-weight: 900;
      border: none;
      border-radius: 5px;
      background: white;
    }
    img{
      width: 45vw;
      height: 26.5vw;
      position:absolute;
      top: 27vw;
      left: 49vw;
    }
}

.mio1{
  padding: 0vw 10vw;
  background: white;
  padding: 5vw 12vw;
  position: relative;
  h1{
    margin-top: 4vw;
    width: 40vw;
    font-size: 4vw;
    font-weight: lighter;
    color: black;
  }
  p{
    width: 31vw;
    line-height: 3vw;
    font-size: 1.6vw;
    color: black;
    padding-top: 2vw;
  }
  button{
    margin-top: 2vw;
    margin-bottom: 10vw;
    padding: 1.5vw;
    padding-left: 4vw;
    padding-right: 4vw;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: green;
  }
  img{
    width: 35vw;
    height: auto;
    position:absolute;
    top: 12vw;
    left: 52vw;
  }
}
