header {
    position: fixed;
    top: 0;
    width: 100vw;
    background: {
        color: rgb(255, 255, 255);
    }
    nav {
        height: 12vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            list-style: none;
            i {
                font-size: 2vw;
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
        #login {
            border-radius: 5px;
            padding: 1vw 2vw;
            margin: 0 1vw;
            border: 1px green solid;
        }
    }
}