header {
    position: fixed;
    top: 0;
    width: 100vw;
    background: {
        color: rgb(255, 255, 255);
    }
    nav {
        height: 12vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}