header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: white;
  z-index: 1;
}

header nav {
  height: 10vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5vw;
}

header nav li {
  list-style: none;
}

header nav li i {
  color: green;
  font-size: 2vw;
}

header nav li a {
  text-decoration: none;
  color: black;
  font-weight: 900;
}

header nav li a:hover {
  color: green;
}

header nav #signlog {
  margin: 0 0 0 15vw;
}

header nav #signlog :nth-child(1) {
  color: green;
}

header nav #login {
  color: green;
  border-radius: 5px;
  padding: 1vw 2vw;
  margin: 0 1vw;
  border: 1px green solid;
}

@keyframes appear {
  0% {
    opacity: .1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: .1;
  }
  30% {
    opacity: .1;
  }
  40% {
    opacity: .1;
  }
  50% {
    opacity: .1;
  }
  60% {
    opacity: .1;
  }
  70% {
    opacity: .1;
  }
  80% {
    opacity: .1;
  }
  90% {
    opacity: .1;
  }
  100% {
    opacity: .1;
  }
}

section {
  padding: 6vw 0;
}

section img {
  display: block;
  margin: 0 auto;
  padding: 5vw 0;
}

section .logo-carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .logo-carousel-wrapper > img {
  padding: 0 2vw;
  width: 6vw;
  height: auto;
  opacity: 0.1;
}

section .logo-carousel-wrapper > img:nth-child(1) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

section .logo-carousel-wrapper > img:nth-child(2) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

section .logo-carousel-wrapper > img:nth-child(3) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

section .logo-carousel-wrapper > img:nth-child(4) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

section .logo-carousel-wrapper > img:nth-child(5) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

section .logo-carousel-wrapper > img:nth-child(6) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

section #quotes {
  padding: 6vw 0;
  text-align: center;
}

section #quotes > p {
  opacity: .1;
}

section #quotes > p:nth-child(1) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

section #quotes > p:nth-child(2) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

section #quotes > p:nth-child(3) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

section #quotes > p:nth-child(4) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

section #quotes > p:nth-child(5) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

section #quotes > p:nth-child(6) {
  animation-name: appear;
  animation-duration: 12s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.mio {
  background-image: url(../img/greenbackground.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 35vw;
  margin: 10vw 0 0 0;
  padding: 8vw 6vw 6vw 2vw;
}

.mio h1 {
  width: 40vw;
  font-size: 4vw;
  color: white;
}

.mio p {
  width: 45vw;
  font-size: 2vw;
  color: white;
  padding-top: 2vw;
  line-height: 3vw;
}

.mio button {
  margin-top: 6vw;
  padding: 1.5vw 4vw 1.5vw 4vw;
  color: green;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  background: white;
}

.mio img {
  width: 45vw;
  height: 28vw;
  position: absolute;
  top: 20vw;
  left: 49vw;
}

.mio1 {
  padding: 0 10vw;
  background: white;
  padding: 5vw 10vw;
  position: relative;
}

.mio1 h1 {
  width: 40vw;
  font-size: 4vw;
  color: black;
}

.mio1 p {
  width: 45vw;
  font-size: 2vw;
  color: black;
  padding-top: 2vw;
}

.mio1 button {
  margin-top: 2vw;
  padding: 1.5vw;
  padding-left: 4vw;
  padding-right: 4vw;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: green;
}

.mio1 img {
  width: 35vw;
  height: auto;
  position: absolute;
  top: 12vw;
  left: 60vw;
}

.section-grey {
  padding: 4vw;
  background-color: #ebe9e7;
}

.section {
  padding: 4vw;
}

.text-center {
  text-align: center;
}

.text-green {
  color: green;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.headline {
  letter-spacing: 0.1vw;
  line-height: 1.5;
  font-size: 1.8vw;
  font-weight: 700;
}

.sub {
  line-height: 2;
  letter-spacing: 0.1vw;
  margin: 1vw 0;
  font-size: 1.5vw;
  font-weight: 300;
}

.sub .grey {
  color: grey;
}

.margin {
  margin-top: 4vw;
}

.teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.reverse {
  flex-direction: row-reverse;
}

.teaser-group > div {
  width: 30%;
  margin: 0 1vw;
}

.teaser-img {
  width: 20vw;
  height: auto;
}

.section-card {
  margin: 5vw auto;
  display: flex;
  width: 80%;
  align-items: center;
}

.section-card img {
  width: 30vw;
  margin: 2vw;
}

.section-card .block-card {
  display: flex;
  flex-direction: column;
}

.section-card .btn-card {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.btn-green {
  display: block;
  background-color: green;
  padding: 1vw 1vw;
  margin: 2vw auto;
  border-radius: 0.5vw;
}

.btn-green a {
  color: white;
  text-decoration: none;
}

.upper {
  text-transform: uppercase;
}

.fkt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.img-fkt {
  width: 10vw;
  margin: 1vw auto;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  box-sizing: border-box;
}
