// Murhaf part

// Import partilas development files
@import "nav";
@import "carousel";
@import "infocard";
@import "feature";
@import "footer";

* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}



// end of Murhaf part
